
.Page-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Home-page {
  position: absolute;
  background: #FCF7F8;
}

.Home-content-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.Home-heading {
  transform-origin: left;
  font-size: 100px;
  font-weight: 700;
  font-style: bold;
  color: #333333;
  line-height: 100px;
}

.Home-subheading {
  transform-origin: left;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  color: #525252;
}

.Profile-picture {
  vertical-align: middle;
}

@media only screen and (max-width: 600px) {

}

